@model IEnumerable<SporcuWeb.Models.EgitmenlerBilgi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Yeni")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EgitmenNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.EgitmenNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EgitmenNo })
        </td>
    </tr>
}

</table>
